<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Activity</title>



  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../node_modules/toastr/build/toastr.min.css">
  <script>window.$ = window.jQuery = require('jquery');</script>
  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <!---<script src="node_modules/popper.js/dist/popper.js"></script>-->
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../node_modules/toastr/build/toastr.min.js"></script>
  



</head>

<body>
  <button id="back" class="btn">Back</button>
 
  <br>
  <br>
  <div class="container">
    <form>
      <div style ="float:left"class="container">
        <input class="form-control col-lg-3 col-md-3 "id="selecteddate" type="date">

      </div>
      

      <div class="container ">

        <h2 id="activityhead">Add activity</h2>

        <textarea id="areaactivity" style="width:400px; height:200px" id="comment" rows="10"></textarea>
      </div>

      <div class="container">
        <button id="addtask" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Submit
        </button>
      </div>
      
      <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="confirmaction"class="modal-title">Confirm Action</h5>
              <button id="dismisstop" type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3 id="modalhead">Activity</h3>
              <h4 id ="dh"></h4>
              <h5 id="dateheader"></h5>
              <h4 id="participants">Participants: </h4>
              <div id="grade1" class="container">
                  <h4 id="grdh1">grade1</h4>
          
                </div>
                <div id="grade2" class="container">
                  <h4 id= "grdh2">grade2</h4>
          
                </div>
                <div id="grade3" class="container">
                  <h4 id = "grdh3">grade3</h4>
                </div>
                <div id="grade4" class="container">
                  <h4 id="grdh4">  grade4</h4>
          
                </div>
                <div id="grade5" class="container">
                  <h4 id ="grdh5">grade5</h4>
          
                </div>
                <div id="grade6" class="container">
                  <h4 id="grdh6">grade6</h4>
                </div>
          
              <h2 id= "description" >Description</h2>
              
              <textarea style="width:400px; height:200px"id="activityparagraph"  id="comment" ></textarea>
            </div>
            <div class="modal-footer">


              <button id="confirm" class="btn btn-primary" style="float: right" data-dismiss="modal"
                type="submit">Confirm</button>


              <button id="dismiss" type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
            </div>
          </div>
        </div>

      </div>
    </form>

  </div>


<script src="../scripts/addactivity.js"></script>
</body>

</html>