<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <!---<script src="node_modules/popper.js/dist/popper.js"></script>-->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <button id="back" class="btn">Back</button>
    <h1 id="name" style="text-align:center"></h1>

    <div class="container">
        <h2 id="activity">Activity</h2>
        <br>
        <textarea id="textarea" class="col-6"></textarea>
    </div>
    <div class="container">
        <button id="edit" class="btn btn-primary">Submit</button>
    </div>

</body>
<script src="../scripts/edit.js"></script>

</html>