<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <!---<script src="node_modules/popper.js/dist/popper.js"></script>-->
   
   
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>

<body>
    <button id="back" class="btn">Back</button>
    <div class="container">
        <h1 style = "color : red " id="dateheader"></h1>
    </div>
    <br>
    <div class="container">
        <div class="dropdown col-3">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" id ="01" onclick="selectMonth(this)">Jan</a>
                <a class="dropdown-item" id ="02" onclick="selectMonth(this)">Feb</a>
                <a class="dropdown-item" id ="03" onclick="selectMonth(this)">Mar</a>
                <a class="dropdown-item" id ="04" onclick="selectMonth(this)">Apr</a>
                <a class="dropdown-item" id ="05" onclick="selectMonth(this)">May</a>
                <a class="dropdown-item" id ="06" onclick="selectMonth(this)">Jun</a>
                <a class="dropdown-item" id ="07" onclick ="selectMonth(this)">Jul</a>
                <a class="dropdown-item" id ="08" onclick="selectMonth(this)">Aug</a>
                <a class="dropdown-item" id ="09" onclick="selectMonth(this)">Sep</a>
                <a class="dropdown-item" id ="10" onclick="selectMonth(this)">Oct</a>
                <a class="dropdown-item" id ="11" onclick="selectMonth(this)">Nov</a>
                <a class="dropdown-item" id ="12" onclick="selectMonth(this)">Dec</a>
            </div>
           
        </div>

        <h2 id="episode"style="margin-top : 10px; margin-left:14px">Episodes</h2>
        <button id = "add" style="float:right"class="btn btn-info">Add activity </button>
    </div>
    <br>
    <br>
    
    <div style="margin-left:20px"class="container">
        <table id="myTable" class="table">
            <thead class="thead-light">
                <tr>
                    <th id="thname"scope="col">Name</th>

                    <th id="Episodes" scope="col">Episodes</th>

                    <th id="thaction"scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="episodetablebody">
            </tbody>
        </table>
    </div>
</body>
<script src="../scripts/episodes.js"></script>
<script src="../scripts/sort.js"></script>

</html>